# Arquivos de ambiente
.env

# Arquivos de sistema
.DS_Store
Thumbs.db

# Diretórios de dependências
/vendor/
/node_modules/

# Diretórios de uploads
/public/uploads/*
!/public/uploads/.gitkeep

# Arquivos de log
/logs/*
!/logs/.gitkeep

# Arquivos de cache
/cache/*
!/cache/.gitkeep

# Arquivos de configuração específicos do IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos temporários
*.tmp
*.bak
*.swp