# Dependências
/vendor/
/node_modules/

# Arquivos de ambiente
/.env
/.env.local
/.env.*.local

# Arquivos de cache
/var/cache/
/var/log/
/var/sessions/
/.phpunit.result.cache

# Arquivos de IDE
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
*.swp
*.swo

# Arquivos de build
/build/
/dist/
/public/build/

# Arquivos de upload
/public/uploads/

# Arquivos de Docker
/docker-compose.override.yml
/docker/data/

# Outros
/phpunit.xml
/coverage/
/composer.phar